.sign-in {
    width: 330px;
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px;
    }

    .buttons{
        display: inline-flexbox;
        justify-content: space-between;

    }
}